.container{
  padding-top:20px;
}

a.button4 {
  display: inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
}
a.button4:hover{
  border-color: rgba(255,255,255,1);
}
@media all and (max-width:30em){
  a.button4{
      display:block;
      margin:0.2em auto;
  }
}

.player {
  table-layout: auto;
  width: 100%;
  white-space: nowrap;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.player td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.player td, .player th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.player tr:nth-child(even){background-color: #f2f2f2;}

.player tr:hover {background-color: #ddd;}



/* Column widths are based on these cells */
.row-ID {
  width: 10%;
}
.row-date {
  width: 60%;
}
.row-amount {
  width: 30%;
}

.player th .current {
  padding-right: 35px;
  background-repeat: no-repeat;
  background-position: right center;
}

.player th .asc {
  background-image: url(/images/up.png);
}

.player th .desc {
  background-image: url(/images/down.png);
}

.gap-between{
  padding-bottom: 25px;
}

/* Style the search field */
form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 20pc;
  background: #f1f1f1;
}

/* Style the submit button */
form button {
  float: left;
  width: 8pc;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form button:hover {
  background: #0b7dda;
}

/* Clear floats */
form::after {
  content: "";
  clear: both;
  display: table;
}

.pagination{
  float: right;
}